name: 部署网站

on:
  push:
    branches:
      # 确保这是你正在使用的分支名称
      - main

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # 如果你文档需要 Git 子模块，取消注释下一行
          # submodules: true

      - uses: ./.github/actions/install-deps

      - name: 构建网站
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          bun run docs:build
          > docs/.vuepress/dist/.nojekyll

      - name: 部署网站
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # 这是文档部署到的分支名称
          branch: gh-pages
          folder: docs/.vuepress/dist
