name: Format Check
on: [push, pull_request]

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: ./.github/actions/install-deps

      - name: Check Formatting with auto fixing
        run: bunx prettier --write --check "**/*.{js,json,md}"
